<p style="color: green"><%= notice %></p>

<%= render @quiz_answer %>

<div>
  <%= link_to "Edit this quiz answer", edit_quiz_answer_path(@quiz_answer) %> |
  <%= link_to "Back to quiz answers", quiz_answers_path %>

  <%= button_to "Destroy this quiz answer", @quiz_answer, method: :delete %>
</div>
