<div id="<%= dom_id self_evaluation_node %>">
  <p>
    <strong>Step:</strong>
    <%= self_evaluation_node.step_id %>
  </p>

  <p>
    <strong>Prompt:</strong>
    <%= self_evaluation_node.prompt %>
  </p>

  <p>
    <strong>Samplesolution:</strong>
    <%= self_evaluation_node.sampleSolution %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= self_evaluation_node.score %>
  </p>

</div>
