<%= content_tag :tr, id: dom_id(content_bundle), class: "px-4 even:bg-black/10 dark:even:bg-white/10" do %>
        <td class="p-default">
          <%= content_bundle.title %>
          <%= content_bundle.updated_at %>
        </td>
        <td class="p-default">
          <%= content_bundle.patients.count %>
        </td>
        <td class="flex p-default">
          <%= link_to content_bundle, class: "text-blue-100 dark:text-blue-75" do %>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
  <path fill-rule="evenodd" d="M9.315 7.584C12.195 3.883 16.695 1.5 21.75 1.5a.75.75 0 01.75.75c0 5.056-2.383 9.555-6.084 12.436A6.75 6.75 0 019.75 22.5a.75.75 0 01-.75-.75v-4.131A15.838 15.838 0 016.382 15H2.25a.75.75 0 01-.75-.75 6.75 6.75 0 017.815-6.666zM15 6.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" clip-rule="evenodd" />
  <path d="M5.26 17.242a.75.75 0 10-.897-1.203 5.243 5.243 0 00-2.05 5.022.75.75 0 00.625.627 5.243 5.243 0 005.022-2.051.75.75 0 10-1.202-.897 3.744 3.744 0 01-3.008 1.51c0-1.23.592-2.323 1.51-3.008z" />
</svg>
          <% end %>
          <%= link_to edit_content_bundle_path(content_bundle), class: "text-blue-100 dark:text-blue-75" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
  </svg>
          <% end %>
        </td>
<% end %>
