<p style="color: green"><%= notice %></p>

<%= render @body_node %>

<div>
  <%= link_to "Edit this body node", edit_body_node_path(@body_node) %> |
  <%= link_to "Back to body nodes", body_nodes_path %>

  <%= button_to "Destroy this body node", @body_node, method: :delete %>
</div>
